<!-- Versão criada utilizando a documentação oficial / exemplo git oficial do primefaces (primefaces_user_guide_5_3.pdf) -->
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="content">
		<h:outputScript name="main/js/index.js" target="head" />
		<div style="text-align: center">
			<h1>Olá Mundo PrimeFaces!</h1>
			<h3>Exemplos importados do repositório Git oficial do PrimeFaces para servidor de aplicação Tomcat v8.0</h3>
		</div>
		<!--h4>Veja um editor de texto padrão no link abaixo e diversas
			funcionalidades no Dock!</h4>
		<h:outputLink value="editor.xhtml">Editor de Texto</h:outputLink-->
	</ui:define>
	
</ui:composition>